:root{
	--color-contenido:#777;
	--fondo-header:#f9f9f9;
	--fondo-footer:#30363d;
	--color-footer:#999;
}
body{
	font-size: 15px;
	color: var(--color-contenido);
}
header{
	position: relative;
	background-color: var(--fondo-header);
	width: 100%;
	top:0;
}
footer{
	background-color: var(--fondo-footer);
	padding: 30px;
	color: var(--color-footer);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p{
	margin-bottom: 0;
}
section#hero{
	background-image: url("../../../ejercicioExtra/home-slide.jpg");
	background-size: cover;
	padding-bottom: 80px; 
	background-repeat: no-repeat
}
#texto-hero{
	margin-top: 50px;
	margin: 40px;
	color: #898989;
	
}
.titulo-negro{
	color: #282d33;
	font-weight: bold;
	font-size: 450%
}
.button{
	border-radius: 40%;
	background-color: #282d33;
	color: white;
	width: 200px;
	height: 60px;
	margin-top: 40px
}
section#CTA-Products{
	background-image: url("../img/product-parallax.jpg");
	background-size: cover;
	padding-bottom: 80px; 
	background-repeat: no-repeat;
	text-align: center;
	padding:150px;
	color: white;
	
}
.texto{
	font-size: 120%;
	padding-left: 80px;
	padding-right: 80px;
}
.titulo-blanco{
	color: white;
	font-weight: bold;
	font-size: 600%	
}
.titulo-blanco-peque{
	color: white;
	font-weight: bold;
	font-size: 150%;
}
#info-producto{
	margin:40px
}
#texto-producto{
	padding-top: 80px
	
}
#texto-producto h1{
	color: #282d33;
}
.botton-trasparente{
	border: none;
    background-color: transparent;
}
#CTA-Flexibility{
	background-image: url("../img/product-parallax-2.jpg");
	padding: 80px;
	padding-bottom: 120px;
	padding-top: 120px
}
.botton-trasparente-blanco{
	border: none;
    background-color: transparent;
	color: white;
	font-weight: bold;
}
#clients{
	padding: 40px;
	background: #f5f5f5;
}
